Repository fzymgc-house/router-hosts: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, buf-format, buf-lint, cargo-clippy

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

buf-format:
  name: buf format
  entry: buf format --diff --exit-code
  language: system
  pass_filenames: false

buf-lint:
  name: buf lint
  entry: buf lint
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --workspace -- -D warnings
  language: system
  pass_filenames: false
  stages:
  - pre-push

feat(server): implement snapshot retention policy (#53)
  .gitignore
  crates/router-hosts/src/client/commands/snapshot.rs
  crates/router-hosts/src/client/output.rs
  crates/router-hosts/src/server/commands.rs
  crates/router-hosts/src/server/db/mod.rs
  crates/router-hosts/src/server/hosts_file.rs
  crates/router-hosts/src/server/mod.rs
  crates/router-hosts/src/server/service/snapshots.rs
  crates/router-hosts/src/server/write_queue.rs
  crates/router-hosts/tests/integration_test.rs
  docs/plans/2025-12-08-snapshot-retention-design.md
  docs/plans/2025-12-08-snapshot-retention-plan.md
  proto/router_hosts/v1/hosts.proto
Due: cargo-fmt, buf-format, buf-lint, cargo-clippy

docs: mark import conflict modes as complete
  docs/plans/2025-12-01-v1-tasks.md
Due: none

docs: mark import conflict modes as complete (#54)
  docs/plans/2025-12-01-v1-tasks.md
Due: none

test(server): add integration tests for version conflict retry flow
  crates/router-hosts/tests/integration_test.rs
Due: cargo-fmt, cargo-clippy

test(server): add integration tests for version conflict retry flow (#55)
  crates/router-hosts/tests/integration_test.rs
Due: cargo-fmt, cargo-clippy

docs: update task status after recent completions
  docs/plans/2025-12-01-v1-tasks.md
Due: none

test(server): add coverage tests for snapshots and hooks
  crates/router-hosts/src/server/hooks.rs
  crates/router-hosts/tests/integration_test.rs
Due: cargo-fmt, cargo-clippy

test(server): add coverage tests for snapshots and hooks (issue #17) (#59)
  crates/router-hosts/src/server/hooks.rs
  crates/router-hosts/tests/integration_test.rs
  docs/plans/2025-12-01-v1-tasks.md
Due: cargo-fmt, cargo-clippy

docs: add rollback to snapshot design
  docs/plans/2025-12-08-rollback-snapshot-design.md
Due: none

docs: add rollback implementation plan
  docs/plans/2025-12-08-rollback-snapshot-implementation.md
Due: none

feat(server): add RollbackResult type for snapshot rollback
  crates/router-hosts/src/server/commands.rs
Due: cargo-fmt, cargo-clippy

test(server): add failing test for rollback_to_snapshot
  crates/router-hosts/tests/integration_test.rs
Due: cargo-fmt, cargo-clippy

test(server): improve error handling in rollback test
  crates/router-hosts/tests/integration_test.rs
Due: cargo-fmt, cargo-clippy

feat(server): implement rollback_to_snapshot in CommandHandler
  crates/router-hosts/src/server/commands.rs
  crates/router-hosts/src/server/service/snapshots.rs
Due: cargo-fmt, cargo-clippy

fix(server): wire restored_entry_count through protobuf response
  crates/router-hosts/src/server/service/snapshots.rs
  proto/router_hosts/v1/hosts.proto
Due: cargo-fmt, buf-format, buf-lint, cargo-clippy

test(server): add comprehensive rollback integration tests
  crates/router-hosts/tests/integration_test.rs
Due: cargo-fmt, cargo-clippy

docs: mark RollbackToSnapshot as complete
  docs/plans/2025-12-01-v1-tasks.md
Due: none

feat(server): implement RollbackToSnapshot RPC (#63)
  crates/router-hosts/src/server/commands.rs
  crates/router-hosts/src/server/service/snapshots.rs
  crates/router-hosts/tests/integration_test.rs
  docs/plans/2025-12-01-v1-tasks.md
  docs/plans/2025-12-08-rollback-snapshot-design.md
  docs/plans/2025-12-08-rollback-snapshot-implementation.md
  proto/router_hosts/v1/hosts.proto
Due: cargo-fmt, buf-format, buf-lint, cargo-clippy

docs: add E2E acceptance testing design
  docs/plans/2025-12-08-e2e-testing-design.md
Due: none

docs: add E2E testing implementation plan
  docs/plans/2025-12-08-e2e-testing-implementation.md
Due: none

build: add Dockerfile with cargo-chef for optimized builds
  .dockerignore
  Dockerfile
Due: none

fix(build): use debian:bookworm-based cargo-chef image
  Dockerfile
Due: none

build: add Taskfile for development workflow orchestration
  Taskfile.yml
Due: none

feat(e2e): add router-hosts-e2e crate skeleton
  Cargo.toml
  crates/router-hosts-e2e/Cargo.toml
  crates/router-hosts-e2e/src/certs.rs
  crates/router-hosts-e2e/src/cli.rs
  crates/router-hosts-e2e/src/container.rs
  crates/router-hosts-e2e/src/lib.rs
Due: cargo-fmt, cargo-clippy

feat(e2e): implement certificate generation with rcgen
  crates/router-hosts-e2e/Cargo.toml
  crates/router-hosts-e2e/src/certs.rs
Due: cargo-fmt, cargo-clippy

feat(e2e): implement container management with testcontainers
  crates/router-hosts-e2e/src/container.rs
Due: cargo-fmt, cargo-clippy

feat(e2e): implement CLI wrapper with builder pattern
  crates/router-hosts-e2e/src/cli.rs
Due: cargo-fmt, cargo-clippy

feat(e2e): add test scenarios for initial setup, daily ops, disaster recovery, and auth
  crates/router-hosts-e2e/tests/e2e_tests.rs
  crates/router-hosts-e2e/tests/scenarios/auth_failures.rs
  crates/router-hosts-e2e/tests/scenarios/daily_operations.rs
  crates/router-hosts-e2e/tests/scenarios/disaster_recovery.rs
  crates/router-hosts-e2e/tests/scenarios/initial_setup.rs
  crates/router-hosts-e2e/tests/scenarios/mod.rs
Due: cargo-fmt, cargo-clippy

ci: add multi-arch Docker build workflow
  .github/workflows/docker.yml
Due: none

ci: add E2E test job to CI workflow
  .github/workflows/ci.yml
Due: none

docs: update documentation for E2E testing and Taskfile
  CLAUDE.md
  README.md
  crates/router-hosts-e2e/README.md
Due: none

fix(e2e): update test scenarios to match CLI output format
  Cargo.lock
  crates/router-hosts-e2e/src/cli.rs
  crates/router-hosts-e2e/src/container.rs
  crates/router-hosts-e2e/tests/scenarios/auth_failures.rs
  crates/router-hosts-e2e/tests/scenarios/daily_operations.rs
  crates/router-hosts-e2e/tests/scenarios/disaster_recovery.rs
  crates/router-hosts-e2e/tests/scenarios/initial_setup.rs
Due: cargo-fmt, cargo-clippy

docs: update plans with E2E testing completion status
  docs/plans/2025-12-01-v1-tasks.md
  docs/plans/2025-12-08-e2e-testing-implementation.md
Due: none

fix(build): quote task names with colons in Taskfile.yml
  Taskfile.yml
Due: none

ci: exclude E2E crate from regular test job
  .github/workflows/ci.yml
Due: none

ci: fix E2E tests cache key and binary path
  .github/workflows/ci.yml
Due: none

refactor(ci): use Taskfile for build/test commands
  .github/workflows/ci.yml
  Taskfile.yml
Due: none

ci: rename test job to build, push Docker image to GHCR
  .github/workflows/ci.yml
Due: none

refactor(ci): use pre-built binary for E2E Docker image
  .github/workflows/ci.yml
  Dockerfile.ci
  Taskfile.yml
Due: none

fix(ci): copy binary to avoid .dockerignore exclusion
  .gitignore
  Dockerfile.ci
  Taskfile.yml
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  buf-format: any of: \.proto$
  buf-lint: any of: \.proto$
  cargo-clippy: any of: \.rs$
