Repository fzymgc-house/router-hosts: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, buf-format, buf-lint, cargo-clippy

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

buf-format:
  name: buf format
  entry: buf format --diff --exit-code
  language: system
  pass_filenames: false

buf-lint:
  name: buf lint
  entry: buf lint
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --workspace -- -D warnings
  language: system
  pass_filenames: false
  stages:
  - pre-push

test: comprehensive test coverage improvements
  Cargo.lock
  Cargo.toml
  crates/router-hosts-common/Cargo.toml
  crates/router-hosts-common/src/validation.rs
  crates/router-hosts-storage/tests/common/host_projection_tests.rs
  crates/router-hosts/src/server/hooks.rs
  crates/router-hosts/src/server/hosts_file.rs
  crates/router-hosts/tests/integration_test.rs
  docs/test-coverage-audit.md
Due: cargo-fmt, cargo-clippy

chore: address PR review feedback
  .github/workflows/ci.yml
  .gitignore
  README.md
  crates/router-hosts-common/src/validation.rs
Due: cargo-fmt, cargo-clippy

chore: address optional review nits
  .github/workflows/ci.yml
  CLAUDE.md
  Taskfile.yml
  crates/router-hosts/tests/integration_test.rs
Due: cargo-fmt, cargo-clippy

fix(test): skip flaky backpressure test during coverage runs
  crates/router-hosts/src/server/write_queue.rs
Due: cargo-fmt, cargo-clippy

Revert "fix(test): skip flaky backpressure test during coverage runs"
  crates/router-hosts/src/server/write_queue.rs
Due: cargo-fmt, cargo-clippy

fix(test): make WriteQueue timeout configurable for coverage runs
  crates/router-hosts/src/server/write_queue.rs
Due: cargo-fmt, cargo-clippy

fix(ci): fix coverage threshold and tarpaulin e2e exclusion
  CLAUDE.md
  Taskfile.yml
  crates/router-hosts-storage/src/error.rs
  crates/router-hosts-storage/src/lib.rs
  crates/router-hosts-storage/src/types.rs
  crates/router-hosts/src/server/config.rs
  crates/router-hosts/src/server/export.rs
  crates/router-hosts/src/server/hooks.rs
  crates/router-hosts/src/server/import.rs
Due: cargo-fmt, cargo-clippy

fix(ci): exclude network-requiring files from coverage instead of lowering threshold
  CLAUDE.md
  Taskfile.yml
Due: none

fix(test): address code review feedback on PR #120
  .github/workflows/ci.yml
  crates/router-hosts/src/client/config.rs
  crates/router-hosts/tests/integration_test.rs
Due: cargo-fmt, cargo-clippy

test: improve test infrastructure and coverage (#120)
  .github/workflows/ci.yml
  .gitignore
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  README.md
  Taskfile.yml
  crates/router-hosts-common/Cargo.toml
  crates/router-hosts-common/src/validation.rs
  crates/router-hosts-storage/src/error.rs
  crates/router-hosts-storage/src/lib.rs
  crates/router-hosts-storage/src/types.rs
  crates/router-hosts-storage/tests/common/host_projection_tests.rs
  crates/router-hosts/src/client/config.rs
  crates/router-hosts/src/server/config.rs
  crates/router-hosts/src/server/export.rs
  crates/router-hosts/src/server/hooks.rs
  crates/router-hosts/src/server/hosts_file.rs
  crates/router-hosts/src/server/import.rs
  crates/router-hosts/src/server/write_queue.rs
  crates/router-hosts/tests/integration_test.rs
  docs/test-coverage-audit.md
Due: cargo-fmt, cargo-clippy

docs: add hosts(5) alias support design document
  docs/plans/2025-12-16-hosts-aliases-design.md
Due: none

docs: address review feedback on hosts aliases design
  docs/plans/2025-12-16-hosts-aliases-design.md
Due: none

fix(docs): address PR #121 review feedback for aliases design
  docs/plans/2025-12-16-hosts-aliases-design.md
Due: none

docs: add hosts(5) alias support design document (#121)
  docs/plans/2025-12-16-hosts-aliases-design.md
Due: none

docs(design): add implementation decisions from brainstorming
  docs/plans/2025-12-16-hosts-aliases-design.md
Due: none

docs(plan): add hosts aliases implementation plan
  docs/plans/2025-12-16-hosts-aliases-impl.md
Due: none

proto: add aliases field and wrapper messages for updates
  proto/router_hosts/v1/hosts.proto
Due: buf-format, buf-lint

feat(storage): add aliases to HostEntry and HostEvent
  crates/router-hosts-storage/src/backends/duckdb/event_store.rs
  crates/router-hosts-storage/src/backends/duckdb/projection.rs
  crates/router-hosts-storage/src/types.rs
  crates/router-hosts-storage/tests/common/event_store_tests.rs
  crates/router-hosts-storage/tests/common/host_projection_tests.rs
Due: cargo-fmt, cargo-clippy

feat(validation): add alias validation functions
  crates/router-hosts-common/src/validation.rs
Due: cargo-fmt, cargo-clippy

feat(duckdb): add aliases column and query support
  crates/router-hosts-storage/src/backends/duckdb/event_store.rs
  crates/router-hosts-storage/src/backends/duckdb/projection.rs
  crates/router-hosts-storage/src/backends/duckdb/schema.rs
Due: cargo-fmt, cargo-clippy

feat(storage): add aliases support to SQLite backend
  crates/router-hosts-storage/src/backends/sqlite/event_store.rs
  crates/router-hosts-storage/src/backends/sqlite/projection.rs
  crates/router-hosts-storage/src/backends/sqlite/schema.rs
Due: cargo-fmt, cargo-clippy

feat(postgres): add aliases column and query support
  crates/router-hosts-storage/src/backends/postgres/event_store.rs
  crates/router-hosts-storage/src/backends/postgres/projection.rs
  crates/router-hosts-storage/src/backends/postgres/schema.rs
Due: cargo-fmt, cargo-clippy

feat(server): add aliases parameter to AddHost and UpdateHost handlers (Task 7 - partial)
  crates/router-hosts/src/client/commands/host.rs
  crates/router-hosts/src/client/output.rs
  crates/router-hosts/src/server/commands.rs.bak
  crates/router-hosts/src/server/export.rs
  crates/router-hosts/src/server/hosts_file.rs
  crates/router-hosts/src/server/import.rs
  crates/router-hosts/src/server/service/hosts.rs
  crates/router-hosts/src/server/write_queue.rs
  crates/router-hosts/tests/integration_test.rs
Due: cargo-fmt, cargo-clippy

feat(cli): add alias flags to add and update commands
  crates/router-hosts/src/client/commands/host.rs
  crates/router-hosts/src/client/mod.rs
  crates/router-hosts/src/client/output.rs
Due: cargo-fmt, cargo-clippy

feat(import): parse aliases from hosts format
  crates/router-hosts/src/server/commands.rs
  crates/router-hosts/src/server/import.rs
  crates/router-hosts/tests/integration_test.rs
Due: cargo-fmt, cargo-clippy

feat(export): include aliases in hosts/JSON/CSV output
  crates/router-hosts-storage/src/backends/duckdb/event_store.rs
  crates/router-hosts-storage/src/backends/duckdb/projection.rs
  crates/router-hosts/src/server/export.rs
  crates/router-hosts/src/server/hosts_file.rs
  crates/router-hosts/tests/integration_test.rs
Due: cargo-fmt, cargo-clippy

fix(export): sort aliases in JSON/CSV and fix empty comment handling
  crates/router-hosts/src/server/export.rs
  crates/router-hosts/src/server/hosts_file.rs
Due: cargo-fmt, cargo-clippy

test: add integration tests for aliases feature
  crates/router-hosts/tests/integration_test.rs
Due: cargo-fmt, cargo-clippy

test(e2e): add aliases support to E2E test infrastructure
  crates/router-hosts-e2e/src/cli.rs
  crates/router-hosts-e2e/tests/scenarios/daily_operations.rs
Due: cargo-fmt, cargo-clippy

fix: allow too_many_arguments for update_host functions
  crates/router-hosts/src/server/commands.rs
  crates/router-hosts/src/server/write_queue.rs
Due: cargo-fmt, cargo-clippy

fix: address PR review feedback for alias support
  CHANGELOG.md
  CLAUDE.md
  crates/router-hosts-storage/src/backends/duckdb/projection.rs
  crates/router-hosts-storage/src/backends/postgres/projection.rs
  crates/router-hosts-storage/src/backends/sqlite/projection.rs
  crates/router-hosts/src/client/commands/host.rs
  crates/router-hosts/src/client/mod.rs
  crates/router-hosts/src/server/commands.rs.bak
  crates/router-hosts/tests/integration_test.rs
Due: cargo-fmt, cargo-clippy

fix(e2e): use non-conflicting hostname in alias CRUD test
  crates/router-hosts-e2e/tests/scenarios/daily_operations.rs
Due: cargo-fmt, cargo-clippy

fix: address remaining PR review comments for alias support
  CHANGELOG.md
  crates/router-hosts-common/src/validation.rs
  crates/router-hosts-storage/src/backends/duckdb/projection.rs
  crates/router-hosts-storage/src/backends/postgres/projection.rs
  crates/router-hosts-storage/src/backends/sqlite/projection.rs
  crates/router-hosts/src/client/commands/host.rs
  crates/router-hosts/src/server/export.rs
  crates/router-hosts/src/server/import.rs
Due: cargo-fmt, cargo-clippy

fix(validation): check IP address before hostname validation in aliases
  crates/router-hosts-common/src/validation.rs
Due: cargo-fmt, cargo-clippy

feat: add hosts(5) alias support (#122)
  CHANGELOG.md
  CLAUDE.md
  crates/router-hosts-common/src/validation.rs
  crates/router-hosts-e2e/src/cli.rs
  crates/router-hosts-e2e/tests/scenarios/daily_operations.rs
  crates/router-hosts-storage/src/backends/duckdb/event_store.rs
  crates/router-hosts-storage/src/backends/duckdb/projection.rs
  crates/router-hosts-storage/src/backends/duckdb/schema.rs
  crates/router-hosts-storage/src/backends/postgres/event_store.rs
  crates/router-hosts-storage/src/backends/postgres/projection.rs
  crates/router-hosts-storage/src/backends/postgres/schema.rs
  crates/router-hosts-storage/src/backends/sqlite/event_store.rs
  crates/router-hosts-storage/src/backends/sqlite/projection.rs
  crates/router-hosts-storage/src/backends/sqlite/schema.rs
  crates/router-hosts-storage/src/types.rs
  crates/router-hosts-storage/tests/common/event_store_tests.rs
  crates/router-hosts-storage/tests/common/host_projection_tests.rs
  crates/router-hosts/src/client/commands/host.rs
  crates/router-hosts/src/client/mod.rs
  crates/router-hosts/src/client/output.rs
  crates/router-hosts/src/server/commands.rs
  crates/router-hosts/src/server/export.rs
  crates/router-hosts/src/server/hosts_file.rs
  crates/router-hosts/src/server/import.rs
  crates/router-hosts/src/server/service/hosts.rs
  crates/router-hosts/src/server/write_queue.rs
  crates/router-hosts/tests/integration_test.rs
  docs/plans/2025-12-16-hosts-aliases-design.md
  docs/plans/2025-12-16-hosts-aliases-impl.md
  proto/router_hosts/v1/hosts.proto
Due: cargo-fmt, buf-format, buf-lint, cargo-clippy

docs(server): add comprehensive export format documentation
  crates/router-hosts/src/server/export.rs
Due: cargo-fmt, cargo-clippy

fix(ci): correct image-tags syntax for GHCR cleanup
  .github/workflows/cleanup-images.yml
Due: none

docs(ghcr): update cleanup workaround for negation syntax
  docs/workarounds/ghcr-cleanup.md
Due: none

docs(server): add comprehensive export format documentation (#123)
  crates/router-hosts/src/server/export.rs
Due: cargo-fmt, cargo-clippy

fix(ci): correct image-tags syntax for GHCR cleanup (#124)
  .github/workflows/cleanup-images.yml
  docs/workarounds/ghcr-cleanup.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  buf-format: any of: \.proto$
  buf-lint: any of: \.proto$
  cargo-clippy: any of: \.rs$
