Repository fzymgc-house/router-hosts: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, buf-format, buf-lint, cargo-clippy

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

buf-format:
  name: buf format
  entry: buf format --diff --exit-code
  language: system
  pass_filenames: false

buf-lint:
  name: buf lint
  entry: buf lint
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --workspace -- -D warnings
  language: system
  pass_filenames: false
  stages:
  - pre-push

feat(client): restructure CLI with subcommand groups
  crates/router-hosts/src/client/mod.rs
Due: cargo-fmt, cargo-clippy

feat(client): implement config loading with CLI > env > file precedence
  crates/router-hosts/Cargo.toml
  crates/router-hosts/src/client/config.rs
Due: cargo-fmt, cargo-clippy

test(client): add env var and tilde expansion tests
  crates/router-hosts/src/client/config.rs
Due: cargo-fmt, cargo-clippy

feat(client): add gRPC client wrapper with mTLS
  Cargo.lock
  crates/router-hosts/Cargo.toml
  crates/router-hosts/src/client/config.rs
  crates/router-hosts/src/client/grpc.rs
  crates/router-hosts/src/client/mod.rs
Due: cargo-fmt, cargo-clippy

feat(client): add output formatting (table, json, csv)
  crates/router-hosts/src/client/mod.rs
  crates/router-hosts/src/client/output.rs
Due: cargo-fmt, cargo-clippy

feat(client): add error handling with exit codes
  crates/router-hosts/src/client/error.rs
  crates/router-hosts/src/client/mod.rs
Due: cargo-fmt, cargo-clippy

feat(client): implement all command handlers
  crates/router-hosts-common/build.rs
  crates/router-hosts/src/client/commands/host.rs
  crates/router-hosts/src/client/commands/mod.rs
  crates/router-hosts/src/client/commands/snapshot.rs
  crates/router-hosts/src/client/error.rs
  crates/router-hosts/src/client/mod.rs
  crates/router-hosts/src/main.rs
Due: cargo-fmt, cargo-clippy

test(client): add CLI parsing unit tests
  crates/router-hosts/src/client/mod.rs
Due: cargo-fmt, cargo-clippy

chore(client): format code
  crates/router-hosts/src/client/config.rs
  crates/router-hosts/src/client/error.rs
  crates/router-hosts/src/client/grpc.rs
Due: cargo-fmt, cargo-clippy

fix(client): address code review feedback
  crates/router-hosts/src/client/commands/host.rs
  crates/router-hosts/src/client/error.rs
  crates/router-hosts/src/client/grpc.rs
  crates/router-hosts/src/client/output.rs
Due: cargo-fmt, cargo-clippy

docs(client): add module-level docs and richer error context
  crates/router-hosts/src/client/commands/mod.rs
  crates/router-hosts/src/client/grpc.rs
  crates/router-hosts/src/client/mod.rs
Due: cargo-fmt, cargo-clippy

fix(client): add UTC timezone to snapshot timestamps
  crates/router-hosts/src/client/output.rs
Due: cargo-fmt, cargo-clippy

fix(client): reject empty import files with clear error
  crates/router-hosts/src/client/commands/host.rs
Due: cargo-fmt, cargo-clippy

docs(client): document symlink handling and resource limits
  crates/router-hosts/src/client/commands/host.rs
  crates/router-hosts/src/client/grpc.rs
Due: cargo-fmt, cargo-clippy

feat(client): implement CLI for router-hosts (#36)
  Cargo.lock
  crates/router-hosts-common/build.rs
  crates/router-hosts/Cargo.toml
  crates/router-hosts/src/client/commands/host.rs
  crates/router-hosts/src/client/commands/mod.rs
  crates/router-hosts/src/client/commands/snapshot.rs
  crates/router-hosts/src/client/config.rs
  crates/router-hosts/src/client/error.rs
  crates/router-hosts/src/client/grpc.rs
  crates/router-hosts/src/client/mod.rs
  crates/router-hosts/src/client/output.rs
  crates/router-hosts/src/main.rs
  docs/plans/2025-12-06-client-cli-design.md
  docs/plans/2025-12-06-client-cli-implementation.md
Due: cargo-fmt, cargo-clippy

docs: update v1 task status with completed work
  docs/plans/2025-12-01-v1-tasks.md
Due: none

docs(plans): add issue references for high priority tasks
  docs/plans/2025-12-01-v1-tasks.md
Due: none

docs(plans): address review feedback
  docs/plans/2025-12-01-v1-tasks.md
Due: none

docs: update v1 task status with completed work (#44)
  docs/plans/2025-12-01-v1-tasks.md
Due: none

docs(plans): add ULID versioning implementation design
  docs/plans/2025-12-06-ulid-versioning-design.md
Due: none

docs(plans): add ULID versioning implementation plan
  docs/plans/2025-12-06-ulid-versioning.md
Due: none

feat(server): implement ULID versioning for event store
  crates/router-hosts/src/server/commands.rs
  crates/router-hosts/src/server/db/event_store.rs
  crates/router-hosts/src/server/db/events.rs
  crates/router-hosts/src/server/db/projections.rs
  crates/router-hosts/src/server/db/schema.rs
  crates/router-hosts/src/server/export.rs
  crates/router-hosts/src/server/hosts_file.rs
Due: cargo-fmt, cargo-clippy

docs(db): update version-related documentation for ULID strings
  crates/router-hosts/src/server/db/event_store.rs
  crates/router-hosts/src/server/db/events.rs
  crates/router-hosts/src/server/db/projections.rs
Due: cargo-fmt, cargo-clippy

fix(event_store): use monotonic ULID generator for batch operations
  crates/router-hosts/src/server/db/event_store.rs
Due: cargo-fmt, cargo-clippy

fix(event_store): use monotonic generator and proper error handling
  crates/router-hosts/src/server/db/event_store.rs
Due: cargo-fmt, cargo-clippy

docs(event_store): add clarifying comments for ULID usage
  crates/router-hosts/src/server/db/event_store.rs
Due: cargo-fmt, cargo-clippy

refactor(event_store): simplify ULID generation
  crates/router-hosts/src/server/db/event_store.rs
Due: cargo-fmt, cargo-clippy

fix(db): use thread-local ULID generator for monotonic ordering
  crates/router-hosts/src/server/db/event_store.rs
Due: cargo-fmt, cargo-clippy

fix(db): use single timestamp for batch ULID generation
  crates/router-hosts/src/server/db/event_store.rs
Due: cargo-fmt, cargo-clippy

fix(db): use per-invocation generator for async safety
  crates/router-hosts/src/server/db/event_store.rs
Due: cargo-fmt, cargo-clippy

docs(db): document per-invocation ULID generator pattern
  docs/plans/2025-12-06-ulid-versioning-design.md
Due: none

feat(server): implement ULID versioning for event store (#50)
  crates/router-hosts/src/server/commands.rs
  crates/router-hosts/src/server/db/event_store.rs
  crates/router-hosts/src/server/db/events.rs
  crates/router-hosts/src/server/db/projections.rs
  crates/router-hosts/src/server/db/schema.rs
  crates/router-hosts/src/server/export.rs
  crates/router-hosts/src/server/hosts_file.rs
  docs/plans/2025-12-06-ulid-versioning-design.md
  docs/plans/2025-12-06-ulid-versioning.md
Due: cargo-fmt, cargo-clippy

feat(client): implement version conflict diff display and retry
  crates/router-hosts/src/client/commands/host.rs
  crates/router-hosts/src/client/mod.rs
Due: cargo-fmt, cargo-clippy

fix(client): address code review feedback for version conflict handling
  crates/router-hosts/src/client/commands/host.rs
Due: cargo-fmt, cargo-clippy

docs(client): improve version conflict error messages and add concurrency notes
  crates/router-hosts/src/client/commands/host.rs
Due: cargo-fmt, cargo-clippy

feat(client): implement version conflict diff display and retry (#51)
  crates/router-hosts/src/client/commands/host.rs
  crates/router-hosts/src/client/mod.rs
Due: cargo-fmt, cargo-clippy

docs: add snapshot retention feature design
  docs/plans/2025-12-08-snapshot-retention-design.md
Due: none

chore: add .worktrees to .gitignore
  .gitignore
Due: none

feat(server): implement snapshot retention policy
  crates/router-hosts/src/client/commands/snapshot.rs
  crates/router-hosts/src/client/output.rs
  crates/router-hosts/src/server/commands.rs
  crates/router-hosts/src/server/db/mod.rs
  crates/router-hosts/src/server/hosts_file.rs
  crates/router-hosts/src/server/mod.rs
  crates/router-hosts/src/server/service/snapshots.rs
  crates/router-hosts/src/server/write_queue.rs
  crates/router-hosts/tests/integration_test.rs
  docs/plans/2025-12-08-snapshot-retention-plan.md
  proto/router_hosts/v1/hosts.proto
Due: cargo-fmt, buf-format, buf-lint, cargo-clippy

perf(server): optimize retention policy with database-side deletion
  crates/router-hosts/src/server/commands.rs
Due: cargo-fmt, cargo-clippy

Path conditions:
  cargo-fmt: any of: \.rs$
  buf-format: any of: \.proto$
  buf-lint: any of: \.proto$
  cargo-clippy: any of: \.rs$
