Repository fzymgc-house/router-hosts: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, buf-lint, buf-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt -- --check
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --workspace -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      - id: buf-lint
        name: buf lint
        entry: buf lint
        language: system
        files: '\.proto$'
        pass_filenames: false

      - id: buf-format
        name: buf format
        entry: buf format --diff --exit-code
        language: system
        files: '\.proto$'
        pass_filenames: false

      - id: cargo-test
        name: cargo test
        entry: cargo test --workspace
        language: system
        pass_filenames: false
        stages: [pre-push]

fix(server): address final PR review feedback
  crates/router-hosts/src/server/import.rs
  crates/router-hosts/src/server/service/bulk.rs
Due: cargo-fmt, cargo-clippy

refactor(server): use csv crate for robust CSV parsing
  Cargo.lock
  Cargo.toml
  crates/router-hosts/Cargo.toml
  crates/router-hosts/src/server/import.rs
Due: cargo-fmt, cargo-clippy

refactor(server): implement code review recommendations
  crates/router-hosts/src/server/import.rs
  crates/router-hosts/src/server/service/bulk.rs
Due: cargo-fmt, cargo-clippy

chore: remove cargo-test from pre-commit
  .pre-commit-config.yaml
Due: none

fix(ci): address all code review feedback
  .github/renovate.json
  .pre-commit-config.yaml
  CLAUDE.md
Due: none

fix(server): address final code review issues
  crates/router-hosts/src/server/service/bulk.rs
  crates/router-hosts/tests/integration_test.rs
Due: cargo-fmt, cargo-clippy

fix(ci): address final code review feedback
  .github/renovate.json
  .github/workflows/pr-checks.yml
  CLAUDE.md
Due: none

fix(ci): remove test duplication between workflows
  .pre-commit-config.yaml
Due: none

fix: ensure pre-commit-config.yaml has single trailing newline
  .pre-commit-config.yaml
Due: none

fix(server): address final review feedback from PR #27
  crates/router-hosts/src/server/import.rs
  crates/router-hosts/src/server/service/bulk.rs
  crates/router-hosts/tests/integration_test.rs
Due: cargo-fmt, cargo-clippy

feat(server): implement ImportHosts RPC (#27)
  Cargo.lock
  Cargo.toml
  crates/router-hosts/Cargo.toml
  crates/router-hosts/src/server/import.rs
  crates/router-hosts/src/server/mod.rs
  crates/router-hosts/src/server/service/bulk.rs
  crates/router-hosts/src/server/service/mod.rs
  crates/router-hosts/tests/integration_test.rs
  docs/plans/2025-12-01-import-hosts-impl.md
Due: cargo-fmt, cargo-clippy

docs: clarify testing strategy and improve Renovate config
  .github/renovate.json
  CLAUDE.md
Due: none

ci: add Renovate, pre-commit, and CI verification (#28)
  .github/renovate.json
  .github/workflows/pr-checks.yml
  .pre-commit-config.yaml
  CLAUDE.md
Due: none

feat(server): add WriteCommand enum for write serialization
  crates/router-hosts/src/server/mod.rs
  crates/router-hosts/src/server/write_queue.rs
Due: cargo-fmt, cargo-clippy

feat(server): add WriteQueue for write serialization
  crates/router-hosts/src/server/commands.rs
  crates/router-hosts/src/server/write_queue.rs
Due: cargo-fmt, cargo-clippy

docs(server): add ImportHosts RPC design document
  docs/plans/2025-12-02-import-hosts-design.md
Due: none

docs(server): add ImportHosts implementation plan
  docs/plans/2025-12-02-import-hosts-impl.md
Due: none

feat(server): implement JSON format parser with tests
  crates/router-hosts/src/server/import.rs
Due: cargo-fmt, cargo-clippy

feat(server): implement hosts format parser with tests
  crates/router-hosts/src/server/import.rs
Due: cargo-fmt, cargo-clippy

feat(server): add import parser module structure
  crates/router-hosts/src/server/import.rs
Due: cargo-fmt, cargo-clippy

feat(server): implement CSV format parser with tests
  crates/router-hosts/src/server/import.rs
Due: cargo-fmt, cargo-clippy

feat(server): implement import_hosts with conflict handling
  crates/router-hosts/src/server/commands.rs
Due: cargo-fmt, cargo-clippy

fix(server): add updated counter and duplicate detection to import
  crates/router-hosts/src/server/commands.rs
  crates/router-hosts/src/server/import.rs
  crates/router-hosts/src/server/write_queue.rs
  proto/router_hosts/v1/hosts.proto
Due: cargo-fmt, cargo-clippy, buf-lint, buf-format

feat(server): wire up ImportHosts RPC in service layer
  crates/router-hosts/src/server/service/bulk.rs
Due: cargo-fmt, cargo-clippy

test(server): add ImportHosts integration tests
  crates/router-hosts/tests/integration_test.rs
Due: cargo-fmt, cargo-clippy

refactor(server): wire WriteQueue for serialized mutations
  crates/router-hosts/src/server/mod.rs
  crates/router-hosts/src/server/service/bulk.rs
  crates/router-hosts/src/server/service/hosts.rs
  crates/router-hosts/src/server/service/mod.rs
  crates/router-hosts/tests/integration_test.rs
Due: cargo-fmt, cargo-clippy

docs(server): mark ImportHosts design and plan as complete
  docs/plans/2025-12-02-import-hosts-design.md
  docs/plans/2025-12-02-import-hosts-impl.md
Due: none

fix(server): address WriteQueue review feedback
  crates/router-hosts/src/server/write_queue.rs
Due: cargo-fmt, cargo-clippy

test(server): add concurrent import tests for WriteQueue
  crates/router-hosts/src/server/write_queue.rs
Due: cargo-fmt, cargo-clippy

fix(server): address PR review feedback
  crates/router-hosts/src/server/commands.rs
  crates/router-hosts/src/server/import.rs
  crates/router-hosts/src/server/service/bulk.rs
  crates/router-hosts/src/server/write_queue.rs
Due: cargo-fmt, cargo-clippy

fix(server): address additional PR review feedback
  crates/router-hosts/src/server/commands.rs
  crates/router-hosts/src/server/import.rs
  crates/router-hosts/src/server/service/bulk.rs
  crates/router-hosts/src/server/write_queue.rs
  proto/router_hosts/v1/hosts.proto
Due: cargo-fmt, cargo-clippy, buf-lint, buf-format

docs(server): document fail-fast behavior and add usage examples
  crates/router-hosts/src/server/commands.rs
  crates/router-hosts/src/server/write_queue.rs
  proto/router_hosts/v1/hosts.proto
Due: cargo-fmt, cargo-clippy, buf-lint, buf-format

fix(server): address code review feedback
  crates/router-hosts/src/server/commands.rs
  crates/router-hosts/src/server/import.rs
  crates/router-hosts/src/server/service/bulk.rs
  crates/router-hosts/src/server/write_queue.rs
  proto/router_hosts/v1/hosts.proto
Due: cargo-fmt, cargo-clippy, buf-lint, buf-format

fix(db): properly merge partial metadata updates in SQL view
  crates/router-hosts/src/server/commands.rs
  crates/router-hosts/src/server/db/event_store.rs
  crates/router-hosts/src/server/db/projections.rs
  crates/router-hosts/src/server/db/schema.rs
  crates/router-hosts/tests/integration_test.rs
Due: cargo-fmt, cargo-clippy

fix(db): properly handle transaction rollback errors
  crates/router-hosts/src/server/db/event_store.rs
  crates/router-hosts/src/server/write_queue.rs
Due: cargo-fmt, cargo-clippy

style(db): apply cargo fmt to rollback helper calls
  crates/router-hosts/src/server/db/event_store.rs
Due: cargo-fmt, cargo-clippy

docs(db): document NULL vs empty string semantics for comment/tags
  crates/router-hosts/src/server/db/event_store.rs
Due: cargo-fmt, cargo-clippy

refactor(server): wire WriteQueue for serialized mutations (#33)
  crates/router-hosts/src/server/commands.rs
  crates/router-hosts/src/server/db/event_store.rs
  crates/router-hosts/src/server/db/projections.rs
  crates/router-hosts/src/server/db/schema.rs
  crates/router-hosts/src/server/import.rs
  crates/router-hosts/src/server/mod.rs
  crates/router-hosts/src/server/service/bulk.rs
  crates/router-hosts/src/server/service/hosts.rs
  crates/router-hosts/src/server/service/mod.rs
  crates/router-hosts/src/server/write_queue.rs
  crates/router-hosts/tests/integration_test.rs
  docs/plans/2025-12-02-import-hosts-design.md
  docs/plans/2025-12-02-import-hosts-impl.md
  proto/router_hosts/v1/hosts.proto
Due: cargo-fmt, cargo-clippy, buf-lint, buf-format

docs(plans): add client CLI design document
  docs/plans/2025-12-06-client-cli-design.md
Due: none

docs(plans): add client CLI implementation plan
  docs/plans/2025-12-06-client-cli-implementation.md
Due: none
