Repository fzymgc-house/router-hosts: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, buf-format, buf-lint, cargo-clippy

.pre-commit-config.yaml:

# Pre-commit hooks for router-hosts
# Install: pre-commit install && pre-commit install --hook-type pre-push
# Run manually: pre-commit run --all-files
# Run all stages: pre-commit run --all-files --hook-stage pre-push
#
# Hooks are ordered by speed (fast checks first) for fail-fast behavior.
# Expensive checks (clippy) run only on pre-push stage.
# Tests run in ci.yml workflow, not pre-commit (avoids CI duplication).

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # Fast file checks (run on every commit)
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ['--maxkb=500']

  - repo: local
    hooks:
      # Fast formatting checks (run on every commit)
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt -- --check
        language: system
        types: [rust]
        pass_filenames: false

      - id: buf-format
        name: buf format
        entry: buf format --diff --exit-code
        language: system
        files: '\.proto$'
        pass_filenames: false

      - id: buf-lint
        name: buf lint
        entry: buf lint
        language: system
        files: '\.proto$'
        pass_filenames: false

      # Expensive checks (run only on pre-push)
      # Note: Runs on entire workspace regardless of changed files
      # because Rust changes can affect other crates via dependencies
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --workspace -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

feat(server): add dedicated Health RPC for operator readiness
  crates/router-hosts-operator/src/client.rs
  crates/router-hosts-operator/src/health.rs
  crates/router-hosts-storage/src/backends/duckdb/mod.rs
  crates/router-hosts-storage/src/backends/postgres/mod.rs
  crates/router-hosts-storage/src/backends/sqlite/mod.rs
  crates/router-hosts-storage/src/traits.rs
  crates/router-hosts/src/server/commands.rs
  crates/router-hosts/src/server/hooks.rs
  crates/router-hosts/src/server/mod.rs
  crates/router-hosts/src/server/service/health.rs
  crates/router-hosts/src/server/service/mod.rs
  crates/router-hosts/tests/integration_test.rs
  proto/router_hosts/v1/hosts.proto
Due: cargo-fmt, buf-format, buf-lint, cargo-clippy

fix(server): address PR review feedback
  Taskfile.yml
  crates/router-hosts/src/server/hooks.rs
  crates/router-hosts/src/server/service/health.rs
Due: cargo-fmt, cargo-clippy

feat(server): add dedicated Health RPC for operator readiness (#164)
  Taskfile.yml
  crates/router-hosts-operator/src/client.rs
  crates/router-hosts-operator/src/health.rs
  crates/router-hosts-storage/src/backends/duckdb/mod.rs
  crates/router-hosts-storage/src/backends/postgres/mod.rs
  crates/router-hosts-storage/src/backends/sqlite/mod.rs
  crates/router-hosts-storage/src/traits.rs
  crates/router-hosts/src/server/commands.rs
  crates/router-hosts/src/server/hooks.rs
  crates/router-hosts/src/server/mod.rs
  crates/router-hosts/src/server/service/health.rs
  crates/router-hosts/src/server/service/mod.rs
  crates/router-hosts/tests/integration_test.rs
  docs/plans/2025-12-29-health-rpc-design.md
  proto/router_hosts/v1/hosts.proto
Due: cargo-fmt, buf-format, buf-lint, cargo-clippy

docs(hooks): add structured hook definitions design
  docs/plans/2025-12-29-structured-hooks-design.md
Due: none

feat(hooks): require structured hook definitions with name and command
  crates/router-hosts/src/server/config.rs
  crates/router-hosts/src/server/hooks.rs
  crates/router-hosts/src/server/service/health.rs
  docs/operations.md
Due: cargo-fmt, cargo-clippy

fix(hooks): address PR review feedback
  crates/router-hosts/src/server/config.rs
  crates/router-hosts/src/server/hooks.rs
Due: cargo-fmt, cargo-clippy

fix(server): use 32 days in cert expiry boundary test
  crates/router-hosts/src/server/service/health.rs
Due: cargo-fmt, cargo-clippy

feat(hooks): require structured hook definitions with name and command (#166)
  crates/router-hosts/src/server/config.rs
  crates/router-hosts/src/server/hooks.rs
  crates/router-hosts/src/server/service/health.rs
  docs/operations.md
  docs/plans/2025-12-29-structured-hooks-design.md
Due: cargo-fmt, cargo-clippy

refactor(hooks): address review suggestions for clarity
  crates/router-hosts/src/server/config.rs
  crates/router-hosts/src/server/hooks.rs
Due: cargo-fmt, cargo-clippy

refactor(hooks): address review suggestions for clarity (#168)
  crates/router-hosts/src/server/config.rs
  crates/router-hosts/src/server/hooks.rs
Due: cargo-fmt, cargo-clippy

docs(metrics): add metrics instrumentation design
  docs/plans/2025-12-29-metrics-instrumentation-design.md
Due: none

docs(plans): add metrics instrumentation implementation plan
  docs/plans/2025-12-29-metrics-instrumentation-design.md
  docs/plans/2025-12-29-metrics-instrumentation-plan.md
Due: none

build: add metrics and observability dependencies
  Cargo.toml
  crates/router-hosts/Cargo.toml
Due: none

feat(config): add MetricsConfig for Prometheus/OTEL
  crates/router-hosts/src/server/commands.rs
  crates/router-hosts/src/server/config.rs
  crates/router-hosts/src/test_utils.rs
  crates/router-hosts/tests/integration_test.rs
Due: cargo-fmt, cargo-clippy

feat(metrics): create metrics module skeleton
  crates/router-hosts/src/server/metrics/mod.rs
  crates/router-hosts/src/server/metrics/prometheus.rs
  crates/router-hosts/src/server/mod.rs
Due: cargo-fmt, cargo-clippy

feat(metrics): implement Prometheus HTTP server
  Cargo.lock
  crates/router-hosts/src/server/metrics/mod.rs
  crates/router-hosts/src/server/metrics/prometheus.rs
Due: cargo-fmt, cargo-clippy

fix(metrics): address review feedback for prometheus server
  crates/router-hosts/src/server/metrics/prometheus.rs
Due: cargo-fmt, cargo-clippy

feat(server): integrate metrics into startup/shutdown
  crates/router-hosts/src/server/mod.rs
Due: cargo-fmt, cargo-clippy

feat(metrics): add request counter instrumentation
  crates/router-hosts/src/server/metrics/counters.rs
  crates/router-hosts/src/server/metrics/mod.rs
  crates/router-hosts/src/server/service/hosts.rs
Due: cargo-fmt, cargo-clippy

feat(metrics): instrument hook executor
  crates/router-hosts/src/server/hooks.rs
Due: cargo-fmt, cargo-clippy

test(server): add integration test for metrics lifecycle
  crates/router-hosts/src/server/metrics/mod.rs
Due: cargo-fmt, cargo-clippy

docs: add Prometheus metrics documentation
  docs/operations.md
Due: none

fix(server): address PR review issues for metrics
  crates/router-hosts/src/server/metrics/mod.rs
  crates/router-hosts/src/server/metrics/prometheus.rs
  crates/router-hosts/src/server/service/bulk.rs
  crates/router-hosts/src/server/service/hosts.rs
  crates/router-hosts/src/server/service/snapshots.rs
Due: cargo-fmt, cargo-clippy

feat(server): add Prometheus metrics instrumentation (#170)
  Cargo.lock
  Cargo.toml
  crates/router-hosts/Cargo.toml
  crates/router-hosts/src/server/commands.rs
  crates/router-hosts/src/server/config.rs
  crates/router-hosts/src/server/hooks.rs
  crates/router-hosts/src/server/metrics/counters.rs
  crates/router-hosts/src/server/metrics/mod.rs
  crates/router-hosts/src/server/metrics/prometheus.rs
  crates/router-hosts/src/server/mod.rs
  crates/router-hosts/src/server/service/bulk.rs
  crates/router-hosts/src/server/service/hosts.rs
  crates/router-hosts/src/server/service/snapshots.rs
  crates/router-hosts/src/test_utils.rs
  crates/router-hosts/tests/integration_test.rs
  docs/operations.md
  docs/plans/2025-12-29-metrics-instrumentation-design.md
  docs/plans/2025-12-29-metrics-instrumentation-plan.md
Due: cargo-fmt, cargo-clippy

docs(plans): add leader election design for issue #154
  docs/plans/2025-12-29-leader-election-design.md
Due: none

feat(operator): implement leader election for HA
  Cargo.lock
  charts/router-hosts-operator/README.md
  charts/router-hosts-operator/templates/deployment.yaml
  charts/router-hosts-operator/templates/role-leader-election.yaml
  charts/router-hosts-operator/templates/rolebinding-leader-election.yaml
  charts/router-hosts-operator/values.yaml
  crates/router-hosts-operator/Cargo.toml
  crates/router-hosts-operator/src/leader.rs
  crates/router-hosts-operator/src/lib.rs
  crates/router-hosts-operator/src/main.rs
Due: cargo-fmt, cargo-clippy

refactor(leader): address PR review feedback
  Cargo.lock
  crates/router-hosts-operator/Cargo.toml
  crates/router-hosts-operator/src/leader.rs
  crates/router-hosts-operator/src/main.rs
Due: cargo-fmt, cargo-clippy

fix(operator): address PR review feedback for leader election
  charts/router-hosts-operator/README.md
  charts/router-hosts-operator/templates/role-leader-election.yaml
  charts/router-hosts-operator/templates/rolebinding-leader-election.yaml
  charts/router-hosts-operator/values.yaml
  crates/router-hosts-operator/src/leader.rs
  crates/router-hosts-operator/src/main.rs
Due: cargo-fmt, cargo-clippy

refactor(operator): address optional review suggestions
  charts/router-hosts-operator/README.md
  charts/router-hosts-operator/templates/deployment.yaml
  crates/router-hosts-operator/src/leader.rs
Due: cargo-fmt, cargo-clippy

ci: increase runner volume size to 150GB
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/pr-checks.yml
Due: none

feat(operator): implement leader election for HA (#171)
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/pr-checks.yml
  Cargo.lock
  charts/router-hosts-operator/README.md
  charts/router-hosts-operator/templates/deployment.yaml
  charts/router-hosts-operator/templates/role-leader-election.yaml
  charts/router-hosts-operator/templates/rolebinding-leader-election.yaml
  charts/router-hosts-operator/values.yaml
  crates/router-hosts-operator/Cargo.toml
  crates/router-hosts-operator/src/leader.rs
  crates/router-hosts-operator/src/lib.rs
  crates/router-hosts-operator/src/main.rs
  docs/plans/2025-12-29-leader-election-design.md
Due: cargo-fmt, cargo-clippy

ci: reduce cache size by excluding target directory
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
Due: none

ci: reduce cache size by excluding target directory (#172)
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
Due: none

build(dist): update cargo-dist to v0.30.3
  .github/workflows/v-release.yml
  README.md
  Taskfile.yml
  dist-workspace.toml
Due: none

build(dist): update cargo-dist to v0.30.3 (#173)
  .github/workflows/v-release.yml
  README.md
  Taskfile.yml
  dist-workspace.toml
Due: none

test(operator): add reconcile tests for controllers
  crates/router-hosts-operator/src/controllers/hostmapping.rs
  crates/router-hosts-operator/src/controllers/ingressroute.rs
  crates/router-hosts-operator/src/controllers/ingressroutetcp.rs
Due: cargo-fmt, cargo-clippy

fix(operator): improve test assertions and expectations
  crates/router-hosts-operator/src/controllers/hostmapping.rs
  crates/router-hosts-operator/src/controllers/ingressroute.rs
  crates/router-hosts-operator/src/controllers/ingressroutetcp.rs
Due: cargo-fmt, cargo-clippy

docs(operator): add test documentation and improve assertions
  crates/router-hosts-operator/src/controllers/hostmapping.rs
  crates/router-hosts-operator/src/controllers/ingressroute.rs
  crates/router-hosts-operator/src/controllers/ingressroutetcp.rs
Due: cargo-fmt, cargo-clippy

docs: sync documentation for v0.7.0 release
  CHANGELOG.md
  README.md
  docs/architecture.md
  docs/operations.md
  docs/operator.md
Due: none

test(operator): add reconcile tests for controllers (#174)
  crates/router-hosts-operator/src/controllers/hostmapping.rs
  crates/router-hosts-operator/src/controllers/ingressroute.rs
  crates/router-hosts-operator/src/controllers/ingressroutetcp.rs
Due: cargo-fmt, cargo-clippy
